<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/keyboard.png">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="heading">
        <img class="icon-img" src="./assets/icon.png" alt="">
    </div>
    <div class="form-sec">
        <form>
            <input class="inp1" type="text" id="username" name="username" placeholder="Email address" required>
            
            <input class="inp2" type="password" id="password" name="password" placeholder="Password" required>
            
            <input class="login-sumbmit-btn" type="submit" value="Login">
        </form>
    </div>
    <div class="prompt-container">
        <a href="/signup" class="prompt">Don't have an account? Get Started</a>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<script type="module" src="./main.js"></script>
</html>