<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/keyboard.png">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="heading">
        <img class="icon-img" src="./assets/icon.png" alt="">
    </div>
    <div class="form-sec">
        <form>
            <input class="inp1 name_id" type="text" id="name" name="username" placeholder="Name" required >

            <input class="inp1 email_id" type="text" id="username" name="username" placeholder="Email address" required>
            
            <input class="inp2 password_id" type="password" id="password" name="password" placeholder="Password" required>
            
            <input class=signup-sumbmit-btn type="submit" value="Sign-in">
        </form>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<script type="module" src="./main.js"></script>
</html>